In [8]:
import xlrd
import pandas as pd

file_location = "team.xlsx"
workbook = xlrd.open_workbook(file_location)
train = workbook.sheet_by_index(1)

KLASEMEN 16 APRIL

In [9]:
def cekklasemen(nama):
    if (nama=="persija"):
        return 2
    if (nama=="persipura"):
        return 1
    if (nama=="persebaya"):
        return 4
    if (nama=="barito"):
        return 3
    if (nama=="borneo"):
        return 5
    if (nama=="madura"):
        return 6
    if (nama=="psm"):
        return 7
    if (nama=="bali"):
        return 8
    if (nama=="psms"):
        return 17
    if (nama=="persela"):
        return 12
    if (nama=="persib"):
        return 13
    if (nama=="bhayangkara"):
        return 11
    if (nama=="sriwijaya"):
        return 9
    if (nama=="psis"):
        return 10
    if (nama=="mitra"):
        return 14
    if (nama=="perseru"):
        return 15
    if (nama=="pstira"):
        return 16
    if (nama=="arema"):
        return 18

GENERET POINT MASING2 CLUB(FUNGSI)

In [10]:
def hitung(i,k):
    jum=0
    point=0
    while(i<=k):
        namaA=train.cell_value(i,0)
        namaB=train.cell_value(i,1)
        a=train.cell_value(i,2)
        seri=train.cell_value(i,3)
        b=train.cell_value(i,4)
        
        if ((a>b)and(a>seri)):
            point=3
        if ((seri>a)and(seri>b)):
            point=1
        if ((a==0.5)and(seri==0.5)):
            perA= cekklasemen(namaA)
            perB= cekklasemen(namaB)
            if (perA<perB):
                point=3
            else:
                point=1
        if ((b==0.5)and(seri==0.5)):
            perA= cekklasemen(namaA)
            perB= cekklasemen(namaB)
            if (perA<perB):
                point=1
            else:
                point=0
        if((a==0.5)and(b==0.5)):
            point=1
        jum=jum+point
        i=i+1
    return jum

menggunakan fungsi hitung dan menambah dengan point di klasemen dunia nyata

In [11]:
sriwijaya=hitung(1,13)+5
persela=hitung(14,27)+5
psms=hitung(28,39)+3
perseru=hitung(40,52)+4
barito=hitung(53,65)+7
psis=hitung(66,78)+5
persib=hitung(79,91)+5
persija=hitung(92,104)+7
bhayangkara=hitung(105,117)+5
borneo=hitung(118,130)+7
persebaya=hitung(131,143)+7
arema=hitung(144,155)+2
mitra=hitung(156,168)+4
pstira=hitung(169,181)+4
madura=hitung(182,194)+6
psm=hitung(195,208)+6
persipura=hitung(209,221)+8
bali=hitung(222,234)+6

algoritma sorting untuk mengurutkan klasemen jadi

In [12]:
def SelectionSort(val,val2):
   for isi in range(len(val)-1,0,-1):
       Max=0
       for lokasi in range(1,isi+1):
           if val[lokasi]<val[Max]:
               Max = lokasi

       temp = val[isi]
       temp2 = val2[isi]
       val[isi] = val[Max]
       val2[isi]=val2[Max]
       val[Max] = temp
       val2[Max]=temp2

menyimpan nama dan point di array

In [13]:
Statistik = []

Statistik.append(persija)
Statistik.append(persipura)
Statistik.append(persebaya)
Statistik.append(barito)
Statistik.append(borneo)
Statistik.append(madura)
Statistik.append(psm)
Statistik.append(bali)
Statistik.append(psms)
Statistik.append(persela)
Statistik.append(persib)
Statistik.append(bhayangkara)
Statistik.append(sriwijaya)
Statistik.append(psis)
Statistik.append(mitra)
Statistik.append(perseru)
Statistik.append(pstira)
Statistik.append(arema)

nama = []

nama.append("persija")
nama.append("persipura")
nama.append("persebaya")
nama.append("barito")
nama.append("borneo")
nama.append("madura")
nama.append("psm")
nama.append("bali")
nama.append("psms")
nama.append("persela")
nama.append("persib")
nama.append("bhayangkara")
nama.append("sriwijaya")
nama.append("psis")
nama.append("mitra")
nama.append("perseru")
nama.append("pstira")
nama.append("arema")

print("=====================================================================================================================")
print("Hasil klasemen pertandingan")
SelectionSort(Statistik,nama)
print(nama)
print(Statistik)

=====================================================================================================================
Hasil klasemen pertandingan
['persipura', 'bhayangkara', 'persija', 'sriwijaya', 'persib', 'barito', 'bali', 'mitra', 'persebaya', 'psm', 'madura', 'borneo', 'pstira', 'perseru', 'arema', 'persela', 'psis', 'psms']
[37, 36, 34, 32, 31, 29, 29, 29, 28, 26, 26, 26, 25, 24, 23, 22, 16, 13]

In [14]:
result = pd.DataFrame({
    "nama team" : nama,
    "point" : Statistik
})

In [16]:
result.to_csv('prediksi.csv', index = False)